#imagem01{
    width:100%;
}
p{
text-align: justify;
color:white
}

h3{ 

   text-align: justify;
  color:rgb(228, 37, 155)
        

}


h1{
    text-align: justify;
    color:e44f9c

    }